@use "../abstracts";
.checkout-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    min-height: 80vh;
    &__breadcrumbs {
        background: var(--checkout-breadcrumbs-bg);
    }
}
.checkout-container {
    margin-top: 30px;
    @include abstracts.screen(xl) {
        &__xl {
            display: flex;
            align-items: center;
        }
    }
    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}
.cart-info {
    padding: 30px;
    border-radius: 20px;
    background: var(--checkout-cart-info-bg-color);
    box-shadow: 0px 20px 60px 10px var(--checkout-cart-info-shadow);
    @include abstracts.screen(md) {
        padding: 16px;
    }
    &__desc {
        margin-top: 6px;
        font-size: 1.5rem;
        line-height: 146.667%;
    }
    &__form {
        margin-bottom: 30px;
    }
    &__form-row {
        flex-direction: row;
        gap: 20px;
        @include abstracts.screen(sm) {
            gap: 10px;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &__back-arrow {
        width: 50px;
        padding-right: 20px;
    }
    &__heading {
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
        &--lv2 {
            font-size: 2.2rem;
            font-weight: 500;

            line-height: 145.455%;
        }
    }
    &__sub-heading {
        margin: 30px 0;
        font-size: 1.8rem;

        font-weight: 500;
        line-height: 144.444%;
    }
    &__check-all {
        margin: 30px 0;
    }
    &__list {
        margin-top: -30px;
        @include abstracts.screen(md) {
            margin-top: -16px;
        }
    }
    &__bottom {
        margin-top: 30px;
    }
    &__continue {
        height: 100%;
        display: flex;
        align-items: flex-end;
        &-link {
            display: flex;
            align-items: center;
            gap: 10px;
            transition: color 0.3s;
        }
        &-icon {
            rotate: 90deg;
            transition: translate 0.3s;
        }
        &-link:hover {
            color: #0071dc;
        }
        &-link:hover &-icon {
            translate: -5px;
        }
    }
    &__continue-link,
    &__row {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: var(--checkout-cart-item-text-color);
    }
    &__row {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        &--bold {
            font-size: 2.2rem;
            font-weight: 700;
        }
        &--center {
            align-items: center;
            @include abstracts.screen(md) {
                flex-direction: column;
                gap: 30px;
                align-items: flex-start;
            }
        }
    }
    &__separate {
        margin: 30px 0;
        height: 1px;
        background: var(--checkout-cart-item-border-color);
    }

    &__next-btn {
        margin-top: 30px;
    }
    &__edit-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.8rem;
        line-height: 144.444%;
    }

    &__checkbox {
        &-input {
            appearance: none;
            &::before {
                content: url("../icons/checkbox-uncheck.svg");
            }
            &:not(:checked)::before {
                filter: var(--icon-color);
            }
            &:checked::before {
                content: url("../icons/checkbox-checked.svg");
            }
        }
    }
    &__checkout-all {
        @include abstracts.screen(md) {
            width: 100%;
        }
    }
}
.cart-info + .cart-info {
    margin-top: 30px;
}
.cart-item {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid var(--checkout-cart-item-border-color);
    @include abstracts.screen(xl) {
        &:last-child {
            border: none;
        }
    }

    @include abstracts.screen(md) {
        padding: 16px 0;
    }

    &__thumb {
        width: 172px;
        height: 172px;
        margin: 0 30px 0 20px;
        object-fit: contain;
        @include abstracts.screen(xxl) {
            width: 150px;
            height: 150px;
        }
        @include abstracts.screen(lg) {
            width: 100px;
            height: 100px;
        }
        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;
            margin: 0 16px;
        }
    }
    &__content {
        flex: 1;
        display: flex;
        align-self: flex-start;

        &-left {
            flex: 1;
        }
        &-right {
            display: flex;
            flex-direction: column;
        }
        @include abstracts.screen(md) {
            flex-direction: column;
            &-right {
                margin-top: 20px;
            }
        }
    }

    &__title {
        max-width: 374px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__price-wrap {
        margin: 16px 0;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__ctrl {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 20px;
        min-height: 44px;
        @include abstracts.screen(sm) {
            gap: 10px;
        }
        &--md-block {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
        &-btn {
            display: flex;
            align-items: center;
            margin-left: auto;
            gap: 10px;
            color: #9e9da8;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
        }
    }
    &__ctrl-wrap {
        display: flex;
        align-items: center;
        gap: 30px;
        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__input {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 44px;
        padding: 0 20px;
        border-radius: 10px;
        border: 1px solid var(--checkout-cart-item-border-input-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        &-btn {
            display: flex;
        }
    }
    &__total-price {
        text-align: right;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        @include abstracts.screen(md) {
            margin-bottom: 16px;
            text-align: left;
        }
    }

    &__checkout-btn {
        margin-top: auto;
        @include abstracts.screen(md) {
            max-width: 200px;
        }
    }
}
.gift-item {
    display: flex;
    gap: 20px;
    &__icon-wrap {
        width: 76px;
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        padding: 10px;
        border-radius: 14px;
        background: rgba(118, 68, 225, 0.1);
        box-shadow: var(--checkout-gift-item-shadow);
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__desc {
        margin-top: 10px;
        color: var(--checkout-cart-item-text-color);
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}
.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__btn {
        @include abstracts.screen(md) {
            height: 46px;
        }
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 146.667%;
    }
    &__list {
    }
    &__message {
        margin-top: 30px;
        font-weight: 500;
    }
    &__link {
        color: #0071dc;
    }
}
.address-card {
    margin-top: 30px;
    display: flex;
    gap: 16px;
    @include abstracts.screen(md) {
        flex-direction: column;
    }
    &__left {
        flex: 1;
        display: flex;
        gap: 16px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__desc {
        width: min(510px, 90%);
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 146.667%;
    }
    &__list {
        display: flex;
        gap: 30px;
        list-style: disc inside;
        margin-top: 20px;
        font-size: 1.4rem;
        line-height: 142.857%;
        @include abstracts.screen(md) {
            gap: 16px;
            flex-direction: column;
        }
        &-item {
            margin-left: 8px;
        }
    }
    &__ctrl {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }
}
.payment-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background: var(--payment-item-bg-color);

    &__content {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 20px;
        @include abstracts.screen(sm) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    &__info {
        flex: 1;
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__desc,
    &__detail {
        font-size: 1.6rem;
        line-height: 146.667%;
        &--low {
            color: #9e9da8;
        }
    }
    &__desc {
        margin-top: 4px;
    }
    &__detail {
        margin-right: -8px;
        padding: 8px;
        color: #0071dc;
    }
    &--pointer {
        cursor: pointer;
        @include abstracts.screen(sm) {
            align-items: flex-start;
        }
    }
    &__thumb {
        width: 70px;
        height: 54px;
        object-fit: contain;
        border-radius: 10px;
        box-shadow: var(--payment-item-shadow);
    }
    &__checkbox {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 14px;
    }
    &__checkbox-input:checked + &__cost {
        color: inherit;
    }
    &__cost {
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
}
