@use "../abstracts";
.product-card {
    height: 100%;
    padding: 16px;
    border-radius: 20px;
    background: var(--product-card-bg-color);
    box-shadow: 0px 20px 60px 10px var(--product-card-shadow);
    cursor: pointer;
    &__img-wrap {
        position: relative;
        padding-top: 100%;
    }
    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__like-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        transition: background-color 0.3s ease-in-out, transform 0.2s ease;
        &:hover {
            background-color: #ffb700;
            transform: scale(1.1); 
        }
    }

    &__title,
    &__price,
    &__score {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }
    &__title,
    &__brand,
    &__row {
        margin-top: 16px;
    }
    @include abstracts.screen(md) {
        &__title {
            min-height: 70px;
        }
    }
    &__brand {
        color: #9e9da8;
        font-size: 1.5rem;
        line-height: 146.667%;
    }
    &__row {
        display: flex;
        align-items: center;
    }
    &__star {
        margin-left: auto;
        margin-right: 6px;
    }
}
